* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: white;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 2rem;
}

h2 {
    margin: 1rem 0;
}


.btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    margin: auto;
}


.btn {
    height: 120px;
    width: 120px;
    border-radius: 20%;
    border: 8px solid black;
    margin: 10px;
    cursor: pointer;
}


.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}

.green {
    background-color: green;
}


.flash {
    background-color: white;
}


.userflash {
    background-color: black;
}
